<!DOCTYPE html>
<html lang="en">
<head>
    <title>delete</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class = "top-div">
        <img src="../static/images/qis_banner.png" alt="Noimg">
    </div>
    <div class = "delete_form-div">
        <h1 style="text-align: center;">DELETE CREDIENTIELS</h1>
        <form action="" method="POST">
            <input type="number" required placeholder="Enter id" name = "rid">
            <button type = "submit">delete</button>
        </form>
    </div>
</body>
</html>