<!DOCTYPE html>
<html lang="en">
<head>
    <title>college</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agu+Display&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class = "top-div">
        <img src="../static/images/qis_banner.png" alt="Noimg">
    </div>
    <div class="left-div">
        <a href=""><img src="../static/images/admissions.jpg" alt="Noimg"></a>
    </div>
    <div class="right-div">
        <a href="/admissions"><h1>COLLEGE MANAGEMENT</h1></a>
        <img src="../static/images/college.png" alt="Noimg">
    </div>
    <div class = "gallary-div">
        <h1>QIS GALLARY</h1>
        <img src="../static/images/play.jpg" alt="Noimg">
        <img src="../static/images/class.jpg" alt="Noimg">
        <img src="../static/images/graduation.jpg" alt="Noimg">
        <img src="../static/images/students.jpg" alt="Noimg">
        <img src="../static/images/dining.jpg" alt="Noimg">
    </div>
    <div class = "middle-div">
        <div class = "middle-left">
            <img src="../static/images/hr.jpg" alt="">
        </div>
        <div class = "middle-right">
            <h1>CONTACT OUR VOLUNTEER</h1>
            <p>For any assistance or any difficulties 
                in the process of admissions,
                please feel free to reach 
                out to our volunteers</p>
            <p>She will take care of your pickup 
                and accomodation and also she will 
                be the guide to you for the campus tour</p>
            <p style = "text-align: center;" >(+91) 123-456-7890 <br>
                admissions@qis.com</p>
        </div>
    </div>
    <div class = "bottom-div">
        <div class = "info-div">
            <h1>ADDRESS</h1>
            <p>Vengamukkapalem, Ongole <br>
               Prakasam District - 523272 <br>
               Andhra Pradesh, India</p>
        </div>
        <div class = "form-div">
            <form action="">
                <input type="text" required placeholder="Enter Name" name = "u_name">
                <input type="ename" required placeholder="Enter email" name = "u_email">
                <input type="number" required placeholder="Enter number" name = "u_phone">
                <select name="" id="" style="width: 85%;">
                    <option value="" disabled selected>select cources</option>
                    <option value="computers">computers</option>
                    <option value="electronics">electronics</option>
                    <option value="robotics">robotics</option>
                    <option value="mining">mining</option>
                </select>
                <button type = "submit">call me</button>
            </form>
        </div>
        <div class = "contact-div">
            <h1>CONTACT</h1>
            <p>Phone: +91 92464 19542 <br>
                Mobile: +91 92464 19542 <br>
                Fax: +91 92464 19542 <br>
                Email: principal@qiscet.edu.in</p>
        </div>
    </div>
</body>
</html>