<!DOCTYPE html>
<html lang="en">
<head>
    <title>register</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class = "top-div">
        <img src="../static/images/qis_banner.png" alt="Noimg">
    </div>
    <div class = "register_form-div">
        <h1 style="text-align: center;">REGISTER FROM</h1>
        <form action="" method="POST">
            <input type="number" required placeholder="Enter id" name = "rid">
            <input type="text" required placeholder="Enter name" name = "rname">
            <input type="email" required placeholder="Enter email" name = "rmail">
            <input type="number" required placeholder="Enter phone" name = "rphone">
            <input type="float" required placeholder="Enter inter percentage" name = "rpercentage">
            <input type="number" required placeholder="Enter emcet rank" name = "rrank">
            <input type="text" required placeholder="Enter course intrested" name = "rcourse">
            <input type="text" required placeholder="Enter address" name = "raddress">
            <button type = "submit">register</button>
        </form>
    </div>
</body>
</html>